body {
  font: normal 16px/26px 'Open Sans', sans-serif; }

ul, li, p {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.pe-aside {
  background: #f4f4f4; }

.input-group-addon,
.form-control {
  border-radius: 0; }

.form-control:focus {
  box-shadow: none;
  border-color: #8a8a8a; }

.pe-header {
  height: 45px;
  line-height: 45px !important;
  color: #e6e6e6;
  background: #2c3840;
  margin-left: -15px;
  position: fixed;
  margin-right: -15px;
  margin-bottom: 20px;
  z-index: 11;
  width: 100%; }

.body-is-scrolled .pe-header {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08); }

.pe-page-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.0;
  height: 45px;
  line-height: 45px !important;
  text-transform: uppercase;
  padding-left: 15px; }
  .pe-page-title span {
    font-family: 'Open Sans';
    font-weight: 300; }

.pe-search {
  position: relative;
  margin: 60px 0 20px; }
  .pe-search--input {
    font: 300 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #cacaca;
    padding: 0 0 0 50px;
    height: 50px; }
  .pe-search .glyphicon {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -10px;
    font-size: 20px;
    z-index: 10; }

.pe-accordion a {
  display: block;
  position: relative;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 12px; }
  .pe-accordion a:hover, .pe-accordion a.is-active {
    background: rgba(0, 0, 0, 0.05); }
.pe-accordion svg {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -9px; }
.pe-accordion-content {
  display: none; }
  .pe-accordion-content .pe-subcategory {
    border-bottom: 1px solid #e9e9e9; }
    .pe-accordion-content .pe-subcategory .pe-subcategory--list {
      margin: 10px 0; }
    .pe-accordion-content .pe-subcategory a {
      font-size: 12px;
      display: block;
      padding: 5px 20px 5px 40px;
      text-transform: uppercase;
      position: relative; }
      .pe-accordion-content .pe-subcategory a::before {
        font: normal 10px "Glyphicons Halflings";
        position: absolute;
        left: 22px;
        top: 50%;
        content: '\e250';
        margin-top: -6px; }
.pe-accordion-item--title {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  line-height: 1;
  border-bottom: 1px solid #e9e9e9;
  font-size: 12px;
  padding: 20px 16px 15px;
  letter-spacing: 1px; }

.pe-browse {
  padding-bottom: 60px; }
  .pe-browse-category {
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 25px;
    border-bottom: 2px solid #cacaca;
    position: relative;
    display: inline-block;
    text-transform: uppercase; }
    .pe-browse-category:before {
      border-style: solid;
      border-width: 5px 4px 0;
      border-color: #cacaca transparent transparent;
      background: transparent none repeat scroll 0 0;
      bottom: -7px;
      content: "";
      display: inline-block;
      height: 0;
      position: absolute;
      right: 0;
      top: auto;
      width: 0;
      z-index: 2; }
  .pe-browse-list {
    margin-left: -20px; }
    .pe-browse-list-item {
      width: 19.545%;
      display: inline-block;
      padding: 0 0 20px 20px;
      transition: all 800ms cubic-bezier(0, 0, 0.58, 1) 0ms; }
  .pe-browse-item {
    border: 1px solid #D2D6D5;
    padding: 10px;
    transition: border-color .75s; }
    .pe-browse-item:hover {
      border-color: #3c948b; }
    .pe-browse-item-image {
      margin-bottom: 10px; }
    .pe-browse-item-title {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600; }
    .pe-browse-item-cta .btn {
      background: #e1e3e4;
      border: 0;
      border-radius: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600; }
      .pe-browse-item-cta .btn:hover {
        background: #dedede; }

.pe-drawer--collection {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 80%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }
  .pe-drawer--collection-wrapper {
    max-height: 600px;
    width: 50%;
    -webkit-transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateY(-42px);
    transform: translateY(-42px); }
    .pe-drawer--collection-wrapper.is-open {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
      .pe-drawer--collection-wrapper.is-open .pe-drawer--collection-header::after {
        content: "\2212"; }
  .pe-drawer--collection-header {
    background: #2c3840;
    padding: 8px 16px;
    color: #fff;
    font-size: 14px;
    position: relative;
    cursor: pointer; }
    .pe-drawer--collection-header::after {
      font: normal 10px "Glyphicons Halflings";
      position: absolute;
      top: 50%;
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      content: "\002b";
      right: 10px;
      margin-top: -11px; }
  .pe-drawer--collection-content {
    background: #fff;
    padding: 20px; }
  .pe-drawer--collection-items--item {
    display: inline-block;
    padding: 5px 10px 5px 15px;
    background: #eee;
    border-radius: 20px; }
    .pe-drawer--collection-items--item span {
      display: inline-block;
      color: #333132; }
    .pe-drawer--collection-items--item span + span {
      border-radius: 50%;
      border: 1px solid #ff5252;
      padding: 3px;
      color: #ff5252;
      margin-left: 10px;
      cursor: pointer; }

.pe-variant--count {
  color: #ff6e40;
  margin-right: 7px;
  font-weight: 600; }

/*# sourceMappingURL=style.css.map */
