<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Product Picker</title>
	<!-- Bootstrap -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="pe-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="pe-header">
						<h1 class="pe-page-title">Product <span>Picker</span></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="pe-search">
						<div class="input-group col-md-12">
							<span class="glyphicon glyphicon-search"></span>
							<label class="hidden" for="">Search By</label>
							<input type="text" class="form-control input-lg pe-search--input" id="product-search" placeholder="Find a product by category, name, keyword ..."
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="pe-aside">
						<div class="pe-accordion">
							<ul>
								<li class="pe-accordion-item--title">Browse by Category</li>
								<li>
									<a class="pe-accordion-h" href="javascript:void(0)">
										<span>Category 1</span>
										<!-- SVG code -->
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											viewBox="0 0 40 20" enable-background="new 0 0 40 20" xml:space="preserve">
											<path id="arrow" fill="none" stroke="#1F2D60" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M32.4,4.6 L19.9,15.4L7.4,4.6"
											/>
										</svg>
									</a>
									<div class="pe-accordion-content">
										<div class="pe-subcategory">
											<ul class="pe-subcategory--list">
												<li class="pe-subcategory--item">
													<a class="pe-subcategory--link" href="javascript:void(0)">Sub Category</a>
												</li>
												<li class="pe-subcategory--list-item">
													<a class="pe-subcategory--link" href="javascript:void(0)">Sub Category</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<a class="pe-accordion-h" href="javascript:void(0)">
										<span>Category 2</span>
										<!-- SVG code -->
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											viewBox="0 0 40 20" enable-background="new 0 0 40 20" xml:space="preserve">
											<path id="arrow" fill="none" stroke="#1F2D60" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M32.4,4.6 L19.9,15.4L7.4,4.6"
											/>
										</svg>

									</a>
									<div class="pe-accordion-content">
										<div class="pe-subcategory">
											<ul class="pe-subcategory--list">
												<li class="pe-subcategory--item">
													<a class="pe-subcategory--link" href="javascript:void(0)">Sub Category</a>
												</li>
												<li class="pe-subcategory--list-item">
													<a class="pe-subcategory--link" href="javascript:void(0)">Sub Category</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<a class="pe-accordion-h" href="javascript:void(0)">
										<span>Category 3</span>
										<!-- SVG code -->
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											viewBox="0 0 40 20" enable-background="new 0 0 40 20" xml:space="preserve">
											<path id="arrow" fill="none" stroke="#1F2D60" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M32.4,4.6 L19.9,15.4L7.4,4.6"
											/>
										</svg>

									</a>
									<div class="pe-accordion-content">
										<div class="pe-subcategory">
											<ul class="pe-subcategory--list">
												<li class="pe-subcategory--item">
													<a class="pe-subcategory--link" href="javascript:void(0)">Sub Category</a>
												</li>
												<li class="pe-subcategory--list-item">
													<a class="pe-subcategory--link" href="javascript:void(0)">Sub Category</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-10">
					<div class="row">
						<div class="pe-browse">
							<div class="col-xs-12">
								<h3 class="pe-browse-category">Category</h3>
							</div>
							<div class="col-xs-12" id="product-container-main">
								<script type="text/template" class="template" id="product-template">
								<ul class="pe-browse-list" id="product-list">
									<% _.each( pp.products, function( listItem ){ %>
									<li class="pe-browse-list-item">
										<div class="pe-browse-item">
											<div class="pe-browse-item-image">
												<img class="img-responsive" src="images/<%= listItem.src %>" />
											</div>
											<div class="pe-browse-item-title">
												<p class="title-text"><%= listItem.title %></p>
											</div>
											<div class="pe-browse-item-cta pe-add-product-h" data-item-id="<%= listItem.title %>">
												<a class="btn btn-default btn-block" href="javascript:void(0)">add</a>
											</div>
										</div>
									</li>
									<% }); %>
									</ul>
							</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pe-drawer pe-drawer--collection">
		<div class="pe-drawer--collection-wrapper">
			<div class="pe-drawer--collection-header pe-collection-drawer-h">
				<span class="pe-variant--count">2</span>
				<span class="pe-variant--text">Products Selected</span>
			</div>
			<div class="pe-drawer--collection-content">
				<ul class="pe-drawer--collection-items--list drawer-lists-h">
					<!--li will be added once user add some product-->

				</ul>
			</div>
			<div class="pe-drawer--collection-footer"></div>
		</div>
	</div>

	<!-- <script src="js/module.accordion.js"></script> -->
</body>

</html>