body {
    font: normal 16px/26px 'Open Sans', sans-serif;
}

ul, li, p {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}