.pe-accordion {

    a {
        display: block;
        position: relative;
        padding: 8px 16px;
        text-transform: uppercase;
        font-size: 12px;

        &:hover,
        &.is-active {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    svg {
        height: 16px;
        width: 16px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -9px;
    }

    &-content {
        display: none;

        .pe-subcategory {
            border-bottom: 1px solid #e9e9e9;
            
            .pe-subcategory--list {
                margin: 10px 0;
            }

            a {
                font-size: 12px;
                display: block;
                padding: 5px 20px 5px 40px;
                text-transform: uppercase;
                position: relative;

                &::before {
                    font: normal 10px "Glyphicons Halflings";
                    position: absolute;
                    left: 22px;
                    content: '\e250';               
                }
            }
        }
    }

    &-item--title {
        text-transform: uppercase;
        color: #999;
        font-weight: bold;
        line-height: 1;
        border-bottom: 1px solid #e9e9e9;
        font-size: 12px;
        padding: 20px 16px 15px;
    }
}