.pe-browse {
    padding: 10px 20px 60px;
    &-category {
        font-size: 26px;
        line-height: 1.4;
        margin-bottom: 25px;
        border-bottom: 2px solid #202121;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        color: #202121;

        &:before {
            border-style: solid;
            border-width: 5px 4px 0;
            border-color: #202121 transparent transparent;
            background: transparent none repeat scroll 0 0;
            bottom: -7px;
            content: "";
            display: inline-block;
            height: 0;
            position: absolute;
            right: 0;
            top: auto;
            width: 0;
            z-index: 2;
        }
    }

    &-list {
        margin-left: -20px;   
        &-item {
            // width: 24.545%;
            width: 19.545%;
            display: inline-block;
            padding: 0 0 20px 20px;
            transition: all 800ms cubic-bezier(0,0,.58,1) 0ms;
        }
    }

    &-item {
        border: 1px solid #D2D6D5;
        padding: 10px;
        transition: border-color .75s;
        background: #fff;

        &:hover {
            border-color: #3c948b;
        }

        &-image {
            margin-bottom: 10px;
        }

        &-title {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #202121;
            text-transform: uppercase;
        }

        &-cta {
            .btn {
                color: #fff;
                background: #42AB9E;
                border:0;
                border-radius: 0;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                padding: 10px 0;

                &:hover {
                    background-color: #389c90;
                }
            }
        }
    }


}